* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    outline: none;
}

body {
    padding-top: 30px;
}

h1,h2 {
    margin: 30px 5% 10px 5%;
    padding-left: 20px;
}

h2 {
    font-size: 18px;
}

ul, #installzxp {
    width: 90%;
    margin: 0 auto;
}

li, #installzxp {
    display: block;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 13px;
    transition: all .3s;
}

li:hover {
    background-color: #f1f1f1;
}

#installzxp {
    border: none;
    background-color: #31B17A;
    color: white;
    cursor: pointer;
}

#installzxp:hover {
    background-color: #36d38f;
}

li span {
    font-size: 10px;
    color: #999999;
}

.extension_version {
    vertical-align: super;
    margin-left: 5px;
}

.extension_hosts img {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-left: 5px;
}

.extension_remove {
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    opacity: 0.1;
    transition: all .3s;
}

li:hover .extension_remove {
    opacity: 1;
}

@-webkit-keyframes jump {
    from {
        -webkit-transform: translateY(50vh);
        transform: translateY(50vh);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes jump {
    from {
        -webkit-transform: translateY(50vh);
        transform: translateY(50vh);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes unjump {
    to {
        -webkit-transform: translateY(20vh);
        transform: translateY(20vh);
        opacity: 0;
    }
}
@keyframes unjump {
    to {
        -webkit-transform: translateY(20vh);
        transform: translateY(20vh);
        opacity: 0;
    }
}

#message_box_wrapper {
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}

#message_box {
    display: block;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.75);
    position: fixed;
    bottom: 25px;
    left: 20px;
    right: 20px;
    min-height: 64px;
    text-align: left;
    vertical-align: middle;
    color: white;
    border-radius: 4px;
    transition: background-color .5s;
    animation-name: unjump;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(.2, .68, .18, 1.08);
    animation-iteration-count: 1;
}

#message_box.show {
    animation-name: jump;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(.2, .68, .18, 1.08);
    animation-iteration-count: 1;
}

#message_box.progress {
    background-color: #23a4e7;
}

#message_box.success {
    background-color: #31B17A;
}

#message_box.error {
    background-color: #df3636;
}

.msg {
    display: none;
}

.msg img {
    margin-right: 8px;
}

.msg p {
    font-size: 14px;
    padding-top: 8px;
    width: calc(100% - 40px);
    float: right;
}

.msg img, .msg p {
    min-height: 32px;
    vertical-align: middle;
    display: block;
}

#installzxp:disabled, #installzxp:disabled:hover {
    opacity: .5;
    cursor: default;
    background-color: #f1f1f1;
}
